@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 12%;
}

#results{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

body{
    background-color: #1B244A;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

h4{
    background-color: #080001;
    color: #F94F6D;
    text-align: center;
    width: 155px;
    height: 120px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 120px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 26px;
    font-weight: lighter;
}

button{
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: transparent;
    border: solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    height: 55px;
    width: 55px;
    font-size: 18px;
}

#results{
    color: #9AABD8;
    text-align: center;
}

.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#newGame-btn{
    height: 40px;
    width: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}